<launch>
    <!-- RPi Camera (raspicam_node) 실행 -->
    <include file="$(find raspicam_node)/launch/camera.launch" />

    <!-- camera_calib.yaml 파라미터 로드 -->
    <rosparam file="$(find docking_project)/config/camera_calib.yaml" command="load" />

    <!-- ArUco 도킹 노드 실행 -->
    <node pkg="docking_project" type="docking_node.py" name="aruco_docking_node" output="screen" />
</launch>
